@model List<Mediator.Presentation.MediatorPattern.Results.GetProductQueryResult>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<br/><br/>
<div class="container">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Urun</th>
            <th>Marka</th>
            <th>Kategori</th>
            <th>Stok</th>
            <th>Fiyat</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Brand</td>
                <td>@item.Category</td>
                <td>@item.Stock</td>
                <td>@item.Price</td>
                <td><a href="/Default/UpdateProduct/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                <td><a href="/Default/DeleteProduct/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            </tr>
        }
    </table>
    <a href="/Default/AddProduct/" class="btn btn-outline-primary">Yeni Ürün Ekle</a>
</div>
